.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 3rem;
    height: 3rem;
    max-height: 3rem;
    margin: 0rem 1rem;
}

.iconButton {
    --m3e-icon-button-icon-color: var(--md-sys-color-on-surface);
}

.button {
    --m3e-button-label-text-color: var(--md-sys-color-on-surface);
}
