.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: stretch;
    min-height: 100dvh;
    max-height: 100dvh;
    min-width: 100dvw;
    max-width: 100dvw;
    box-sizing: border-box;
    padding-top: var(--inset-top);
    padding-bottom: var(--inset-bottom);
    padding-left: var(--inset-left);
    padding-right: var(--inset-right);
}

.outletContainer {
    flex-grow: 1;
}
