.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: inherit;
    min-height: 100dvh;
    max-height: 100dvh;
    min-width: 100dvw;
    max-width: 100dvw;
    box-sizing: border-box;
    overflow: hidden;
    padding-top: var(--inset-top);
    padding-bottom: var(--inset-bottom);
    padding-left: var(--inset-left);
    padding-right: var(--inset-right);
}
