.page {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    padding: 0 1rem 1rem;
    box-sizing: border-box;
}

.title {
    margin: 1rem 0 0.5rem;
    font-size: 1.7rem;
}
