@media (prefers-color-scheme: light) {
    .fallback {
        background-color: white;
    }
}

@media (prefers-color-scheme: dark) {
    .fallback {
        background-color: black;
    }
}

.loadedBackground {
    background-color: var(--md-sys-color-background);
}
