.eventChip {
    --m3e-chip-container-height: 1rem;
    --m3e-chip-container-shape: 8px;
    --m3e-chip-label-text-font-weight: 500;
    --m3e-chip-label-text-font-size: 0.7rem;
    --m3e-chip-label-text-color: var(--md-sys-color-on-tertiary-container);
    --m3e-elevated-chip-container-color: var(--md-sys-color-tertiary-container);
    --m3e-elevated-chip-elevation: 0;
}
