@font-face {
    font-family: "Roboto";
    src: url("assets/Roboto-VariableFont_wdth\,wght.ttf");
}

html,
body {
    font-family: "Roboto";
    margin: 0;
    overflow: hidden;
}

.loginPage {
    min-height: 100dvh;
    max-height: 100dvh;
    min-width: 100dvw;
    max-width: 100dvw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: inherit;
}

.loginFormContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.loginFormContainer-heading {
    margin: 3rem 0rem;
    color: var(--md-sys-color-primary)
}

.loginFormContainer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 77dvw;
    max-width: 77dvw;
    --m3e-form-field-width: 77dvw;
    max-height: inherit;
}

.loginFormContainer-buttons {
    display: flex;
    width: 77dvw;
    height: 7.75rem;
    flex-direction: column;
    justify-content: space-between;
    --m3e-button-medium-label-text-font-weight: bold;
}

.pageBackground {
    background-color: var(--md-sys-color-background);
    position: absolute;
    min-height: 100dvh;
    min-width: 100dvw;
    max-height: 100dvh;
    max-width: 100dvw;
    overflow: hidden;
    z-index: 0;
    mask-size: contain;
    mask-repeat: no-repeat;
}

.pageBackground-6-sided-cookie {
    position: absolute;
    height: 34dvh;
    width: 34dvh;
    background-color: var(--md-sys-color-primary);
    mask-image: url("assets/login-bg-shapes/6-sided-cookie.svg");
    mask-size: inherit;
    mask-repeat: inherit;
    top: 5dvh;
    left: -45dvw;
}

.pageBackground-9-sided-cookie {
    position: absolute;
    height: 40dvh;
    width: 40dvh;
    background-color: var(--md-sys-color-secondary);
    mask-image: url("assets/login-bg-shapes/9-sided-cookie.svg");
    mask-size: inherit;
    mask-repeat: inherit;
    bottom: -20dvh;
    left: -25dvw;
}

.pageBackground-circle {
    position: absolute;
    height: 30dvh;
    width: 30dvh;
    background-color: var(--md-sys-color-secondary);
    mask-image: url("assets/login-bg-shapes/circle.svg");
    mask-size: inherit;
    mask-repeat: inherit;
    top: 18dvh;
    right: -35dvw;
}

.pageBackground-pentagon {
    position: absolute;
    height: 23dvh;
    width: 23dvh;
    background-color: var(--md-sys-color-primary);
    mask-image: url("assets/login-bg-shapes/pentagon.svg");
    mask-size: inherit;
    mask-repeat: inherit;
    bottom: 12dvh;
    right: -20dvw;
}
