@font-face {
    font-family: "Roboto";
    src: url("./assets/Roboto-VariableFont_wdth\,wght.ttf");
}

html,
body {
    font-family: "Roboto";
    margin: 0;
    overflow: hidden;
    /* temporary */
    background-color: var(--md-sys-color-background);
}
